.Header{
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}
.Logo{
    width:45px;
    height:45px;
}
.Logo svg, .Logo img{
    width:45px;
    height:45px;
}